bot:
  # Set nick, user/ident, and real name.
  nick: ruby-relay
  user: relay
  realname: https://github.com/somasonic/ruby-relay
  
  # nickservname: defines the SASL username if SASL is enabled (it is
  # otherwise ignored).
  nickservname: ruby-relay
  nickservpass: password
  
  # Defines the maximum amount of messages the bot will send in a second to
  # prevent it from flooding itself off. If not defined, defaults to the bot's
  # smart defaults for each IRCd.
  # msgspersec: 3
  
  # Enables colouring of networks and nicks.
  usecolour: true
  
  # This setting prepends a - (dash) in front of nicks when people speak
  # so that they are not highlighted by the relayer bot if they are on
  # multiple ends of the relay.
  nohighlights: false

  # Set to true to only relay privmsgs (as opposed to joins/parts/quits/
  # privmsgs/nicks/kicks/quits).
  privmsgonly: false

  # Set to true to disable displaying hostmasks.
  nohostmasks: false

admins:
  # List of hostmasks that can use !rehash (make sure you surround each
  # with quotes).
  - "*!*@somasonic.org"

servers:
  # PLEASE NOTE: the server names configured here MUST match the network name
  # given by the IRCd in its 005 reply (case-insensitive), or the relayer
  # WILL NOT work! To find this network name, type "/raw version" or
  # "/quote version" (without quotes) in your IRC client, and look for the
  # section that says "NETWORK=Name".

  interlinked:
    # Server name, port, and whether to use SSL.
    server: irc.interlinked.me
    port: 6697
    ssl: true
    
    # sasl: If set to true, this enables SASL authentication (not supported by
    # all networks). If set to false, the bot will use plain-text NickServ
    # authentication.
    sasl: true
    
    # channel: Make sure to add quotes around channel names so they are not
    # mistaken for comments by YAML.
    channel: "#relaythree"
  
  staticbox:
    # nick, user, realname, nickservuser, nickservpass, and msgspersec can also
    # be set on a per-network basis.
    nick: staticrelay
    server: irc.staticbox.net
    port: 6697
    ssl: true
    sasl: false
    channel: "#relaytwo"
    msgspersec: 10
    nickservuser: rubybot
    nickservpass: password

  alphachat:
    server: irc.alphachat.net
    port: 6697
    ssl: true
    sasl: true
    channel: "#relayone"
    password: password-for-server

ignore:
  # Ignore nicks function: defines a list of nicks (case insensitive) for
  # the relayer to ignore joins/parts/quits/nicks/modes from. If ignoreprivmsg
  # is true, it will also ignore PRIVMSGs.
  # The bot will ignore itself regardless of this setting.
  
  ignoreprivmsg: true
  nicks:
    - troll1
    - ChanServ
    - baduser1
